[Unit]
Description=REST-CONFIDENCE daemon
After=network.target

[Service]
Type=forking
ExecStart=/etc/init.d/rest-confidence start
ExecStop=/etc/init.d/rest-confidence stop --force
PIDFile=/var/run/vs/rest-confidence.pid
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
